*.o
*.obj
*.out
*.exe
*.app
*.dylib
*.a
*.so
[Bb]uild/
bin/
obj/
out/
Debug/
Release/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
Makefile
_deps/

.vscode/ipch/
.vscode/browse.vc.db
.vscode/canvas.vc.db

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

*.swp
*.bak
*~
.stackdumpfrontend/ai_bundle/node_modules/
